:root {
  --bg:#FFFAF0;
  --text:#333333;
  --speak:#6699ff;
  --navbg:#22272E;
  --navtext:#e7e8e9;
}
.non-visi{
  display: none!important;
}


body{
  background-color: var(--bg);
  display: flex;
}
h1{
  margin: 0;
  text-align: center;
  padding: 20px 0;
}
nav{
  background-color: var(--navbg);
  color: var(--navtext);
  width: 15vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  padding: 10px 0;
}
#top_nav{
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: large;
  font-weight: bold;
  align-items: center;
}
#top_nav div{
  cursor: pointer;
  width: 10vw;
  margin: 10px 0;
  padding: 10px 0;
  border: solid 1px rgba(0,0,0,0);
}
.nav-current{
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
  border: solid 1px var(--navtext)!important;
}



#right{
  width: 85vw;
  overflow: hidden;
}
#inf{
  max-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: scroll;
  color: var(--text);
}
#inf h2{
  border-left: 10px solid var(--speak);
  padding-left: 8px;
  border-bottom: dotted 1px var(--speak);
  margin-right: 20px;
}
#inf p{
  padding-left: 20px;
}
#inf ul{
  padding-left: 60px;
}
#info_text{
  padding-left: 40px;
  padding-right: 40px;
}

#canvas{
  width: 85vw;
  height:40vh;
}



#ser{
  margin-left: 20px;
  max-height: 100vh;
  overflow-y: scroll;
  color: var(--text);
}
.sech-text{
  margin-top: 20px;
  margin-left: 20px;
  width: 50vw;
  height: 40px;
  border-radius: 20px;
  padding: 0px 20px;
  font-size: large;
}

#serch_example{
  margin-top: 30px;
  margin-left: 20px;
}
#ser input{
  background-color: var(--bg);
  border: var(--text) solid 3px;
  color: var(--text);
}
#ser a{
  color: var(--speak);
}
#ser button{
  background-color: var(--bg);
  border: var(--text) solid 2px;
  color: var(--text);
}
#serch_example .serch_examples{
  margin: 10px;
  padding: 10px;
  background-color: rgba(0,0,0,0.1);
  color: var(--speak);
  cursor: pointer;
  user-select: none;
}
#serch_btn{
  margin-top: 20px;
  margin-left: 25vw;
  padding: 5px 20px;
  font-size: large;
  border-radius: 20px;
  cursor: pointer;
}
#novels{
  margin-right: 20px;
  margin-top: 15px;
}
#novels .novel{
  width: 100%;
  padding: 10px 20px;
  border-bottom: solid 1px #000;
}

.novel{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.novel_name{
  width: 30%;
}
.novel_tyosya{
  width: 10%;
}
.novel_lang{
  width: 10%;
}
.novel_genre{
  width: 20%;
}
.novel_add{
  cursor: pointer;
  padding:10px 7px;
  border-radius: 5px;
  border: solid var(--text) 1px;
  color: var(--text);
}
.novel_read{
  padding: 10px 7px;
  border-radius: 5px;
  border: solid var(--text) 1px;
  color: var(--text);
  cursor: pointer;
}

#rea{
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  color: var(--text);
}
#canvas_bot{
  display: flex;
  align-items: center;
  flex-direction: column;
}
#canvas_bot p{
  margin: 5px;
}
#canvas_bot #novel_volume{
  margin-left: 20px;
  width: 40vw;
  accent-color: var(--speak);
}

#control_panel{
  padding-top: 10px;
}
#control_panel svg{
  cursor: pointer;
  color: var(--text);
  margin: 5px;
}
#settings{
  display: flex;
  justify-content: space-around;
}
#settings >div{
  width: 35vw;
}
#backgrounds{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
}
.bg_ex{
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  text-align: center;
  border: #3f3f3f dotted 2px;
}
.bg_ex-current{
  border: var(--speak) solid 2px;
}


#input_set h2{
  margin: 5px 0px;
}
#input_set input{
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: var(--bg);
  border-color: var(--text);
  color: var(--text);
  text-align: right;
  width: 120px;
  font-size: large;
}