:root {
  --bg:#FFFAF0;
  --text:#000000;
  --speak:#3f3f3f;
  --navbg:#22272E;
  --navtext:#e7e8e9;
}
.non-visi{
  display: none!important;
}


body{
  background-color: var(--bg);
  display: flex;
}
h1{
  margin: 0;
  text-align: center;
  padding: 20px 0;
}
nav{
  background-color: var(--navbg);
  color: var(--navtext);
  width: 15vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  padding: 10px 0;
}
#top_nav{
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: large;
  font-weight: bold;
  align-items: center;
}
#top_nav div{
  cursor: pointer;
  width: 10vw;
  margin: 10px 0;
  padding: 10px 0;
  border: solid 1px rgba(0,0,0,0);
}
.nav-current{
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
  border: solid 1px var(--navtext)!important;
}



#right{
  width: 85vw;
  overflow: hidden;
}
#inf{
  max-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: scroll;
  color: var(--text);
}
#inf h2{
  border-left: 10px solid var(--speak);
  padding-left: 8px;
  border-bottom: dotted 1px var(--speak);
  margin-right: 20px;
}
#inf p{
  padding-left: 20px;
}
#inf ul{
  padding-left: 60px;
}
#info_text{
  padding-left: 40px;
  padding-right: 40px;
}

#canvas{
  width: 85vw;
  height:70vh;
}



#ser{
  margin-left: 20px;
  max-height: 100vh;
  overflow-y: scroll;
}
.sech-text{
  margin-top: 20px;
  margin-left: 20px;
  width: 50vw;
  height: 40px;
  border-radius: 20px;
  padding: 0px 20px;
  font-size: large;
}

#serch_example{
  margin-top: 30px;
  margin-left: 20px;
}
#serch_example .serch_examples{
  margin: 10px;
  padding: 10px;
  background-color: #daccb6;
  cursor: pointer;
  user-select: none;
}
#serch_btn{
  margin-top: 20px;
  margin-left: 25vw;
  padding: 5px 20px;
  font-size: large;
  border-radius: 20px;
  cursor: pointer;
}
#novels{
  margin-right: 20px;
  margin-top: 15px;
}
#novels .novel{
  width: 100%;
  padding: 10px 20px;
  border-bottom: solid 1px #000;
}

.novel{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.novel_name{
  width: 30%;
}
.novel_tyosya{
  width: 10%;
}
.novel_lang{
  width: 10%;
}
.novel_genre{
  width: 20%;
}
.novel_add{
  cursor: pointer;
  padding:10px 7px;
  border-radius: 5px;
  border: solid var(--text) 1px;
  color: var(--text);
}
.novel_read{
  padding: 10px 7px;
  border-radius: 5px;
  border: solid var(--text) 1px;
  color: var(--text);
  cursor: pointer;
}