:root {
  --bg:#FFFAF0;
  --text:#000000;
  --speak:#3f3f3f;
  --navbg:#22272E;
  --navtext:#e7e8e9;
}
.non-visi{
  display: none!important;
}


body{
  background-color: var(--bg);
  display: flex;
}
h1{
  margin: 0;
  text-align: center;
  padding: 20px 0;
}
nav{
  background-color: var(--navbg);
  color: var(--navtext);
  width: 15vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  padding: 10px 0;
}
#top_nav{
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: large;
  font-weight: bold;
  align-items: center;
}
#top_nav div{
  cursor: pointer;
  width: 10vw;
  margin: 10px 0;
  padding: 10px 0;
  border: solid 1px rgba(0,0,0,0);
}
.nav-current{
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
  border: solid 1px var(--navtext)!important;
}



#right{
  width: 85vw;
  overflow: hidden;
}
#inf{
  max-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: scroll;
  color: var(--text);
}
#inf h2{
  border-left: 10px solid var(--speak);
  padding-left: 8px;
  border-bottom: dotted 1px var(--speak);
  margin-right: 20px;
}
#inf p{
  padding-left: 20px;
}
#inf ul{
  padding-left: 60px;
}
#info_text{
  padding-left: 40px;
  padding-right: 40px;
}